header {
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 10px;
}
footer {
    background-color: plum;
    text-align: center;
    padding: 10px;
}
nav{
    overflow: hidden;
    background-color: rgb(250, 210, 217);
}
nav a {
    float: left;
    display: block;
    color: rgb(163, 68, 120);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: rgb(137, 233, 250);
    color: blue;
}
/* formatting hero section */
.hero {
    min-height: 500px;
    background: linear-gradient(
        rgba(58, 228, 58, 0.6),
        rgba(207, 209, 197, 0.6)
    ),
    url("Image12.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}
.hero-content {
    max-width: 800px;
    color: rgb(0, 98, 128);
}
.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.hero h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}
.hero p{
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: brown;
}
.hero-buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
form{
    margin: 40px;
    
}
input[type="text"],
input[type="email"],
textarea{
    background-color: rgb(184, 241, 127);
    display: block;
    padding: 15px;
    width: 80%;
    font-family: monospace;
    text-transform: uppercase;
}
label{
    font-size: medium;
    text-emphasis-color: purple;
}
body{
    background-image: ("image13.jpg");
}